.header {
    color: black;
    margin-top: 12px;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: bold;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    opacity: .90;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    background-image: url("railroad.jpg");
    
}
.currentTrainSchedule {
    margin-top: 12px;
    margin-left: 50px;
    margin-right: 50px;
    opacity: .90;
}

#train-table {
    margin-left: 25px;
    margin-right: 25px;
    opacity: .90;
}

.addTrain {
    margin-top: 12px;
    margin-left: 50px;
    margin-right: 50px;
    opacity: .90;
}

.card-header {
    font-weight: bold;
}